<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=65.1.20.128;Initial Catalog=SEASONAL_DISEASES;user id=sd;Password=sumps;Trusted_Connection=true;Integrated Security=false;" providerName="System.Data.SqlClient"/>
    <!--<add name="dbcs" connectionString="Data Source=./;Initial Catalog=onlineexam;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1048576"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>